.profile__avatar-wrapper{
    position: relative;
    cursor: pointer;
}

.profile__avatar-wrapper::after {
    content: '';
    position: absolute;
    top: 47px;
    left: 47px;
    background-image: url(../../../images/avatar-edit-button.svg);
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease;
    width: 26px;
    height: 26px;
}

.profile__avatar-wrapper::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: 0;
    transition: opacity 1s ease;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.profile__avatar-wrapper:hover:after, .profile__avatar-wrapper:hover:before {
    opacity: 0.8;
}
